table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:hover {
    background-color: #f5f5f5;
}

.edit-mode input {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.edit {
    display: inline;
    cursor: pointer;
    background-color: #4CAF50; /* Color verde */
    border: 1px solid black; /* Borde de 1 píxel, estilo sólido y color verde */
}

.save-btn, .cancel-btn {
    display: inline;
    cursor: pointer;
    background-color: #4CAF50; /* Color verde */
    border: 1px solid black; /* Borde de 1 píxel, estilo sólido y color verde */
}
